* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
  list-style: none;
  }
footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: purple;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: purple;
  color: white;

}
.container * {
  margin: auto;
}
.pair {
  color: red;
}
.odd {
  color: green;
}
#burger-name {
  margin-bottom: 20px;
}

#coupon {
  margin: 20px 0;
}
